div(class="footer-contain")
    div(class="inner-footer")
        div(class="footer-content")
            div(class="logo-container")
                a(href="#top" style="text-decoration:none")
                    img(src='/images/T-400.png' width="45" height="45")
                    span(class="logo-text") TicketNow
                p(style="margin-top:8px;") Abhishek kumar,
                p lovely&nbsp;Professional&nbsp;University, jalandhar, punjab
                p(style="display:inline") Call us: 
                span(class="contact") (+91)-9784916905
div(class="footer-lower")
    div(class="footer-text")
        span  2019 TicketNow. Designed by
        span(style="color:#2a6496;")  Abhishek Kumar.
    a(href="#top" class="top-link") Back to top&nbsp;
        i(class="material-icons up-arrow")  arrow_upward

